html {
  overflow: hidden;
  cursor: url('/Front/assets/cursor.ico'), default;
  zoom: 120%;
}

.pokemon-card {
  float: left;
  margin: auto;
}

#content {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 30px;
}

#container {
  margin-right: 30px;
  width: 30%;
}

#main {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#box {

  width: 240px;
  background: url("/Front/assets/box.png");
  background-repeat: no-repeat;
  background-size: 240px;
  table-layout: fixed;
}

#box td {
  height: 30px;
  width: 40px;
}

#sidebar {
  margin-left: 30px;
  size: 10%;
}